{% extends 'base.html.twig' %}

{% block content %}
    <h1>Acheteur list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acheteur in acheteurs %}
            <tr>
                <td><a href="{{ path('acheteur_show', { 'id': acheteur.id }) }}">{{ acheteur.id }}</a></td>
                <td>{{ acheteur.name }}</td>
                <td>{{ acheteur.adress }}</td>
                <td>{{ acheteur.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acheteur_show', { 'id': acheteur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acheteur_edit', { 'id': acheteur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acheteur_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
